/* Empty. Add your own CSS if you like */
h1{
     font-family: Futura-Bold; 
     font-size: 22px;
     color: #000000; 
     letter-spacing: 1px; 
     line-height: 22px;
}


h2{
    font-family: Futura-Bold; 
    font-size: 5px;
    color: #000000; 
    letter-spacing: 1px; 
    line-height: 20px;
}

h3{
    font-family: Futura-Bold; 
    font-size: 13px;
    color: #000000; 
    letter-spacing: 1px; 
    line-height: 15px;
}

.header-title{
    font-family: SFMoviePoster-Bold; 
    font-size: 34px;
    color: #000;
    letter-spacing: 3.4px;
    line-height: 34px;
}

p{
    font-family: GeometricSlab703BT-Medium; font-size: 13px;
    color: #3A3A3A;
    letter-spacing: 1px;
    line-height: 15px;
}

.big-copy{
    font-family: GeometricSlab703BT-Medium; font-size: 16px;
    color: #231F20;
    letter-spacing: 0.5px;
    line-height: 19px;
}

.segment-labels-OFF{
    font-family: Futura-Book; font-size: 11px;
    color: #888888; 
    letter-spacing: 0.5px; 
    line-height: 13px;
}

.segment-labels-ON{
    font-family: Futura-Book; font-size: 11px;
    color: #888888; 
    letter-spacing: 0.5px; 
    line-height: 13px;
}
.alpha_sidebar{
	position: absolute;
	top: 140px;
	right: 10px;
	z-index: 100000;
}
.alpha_sidebar li{
	font-size: 10px;
	margin-bottom: 30px;
	cursor: pointer;
}
.alpha_list{
	padding-right: 35px;
}


.tiny-labels{
    font-family: Futura-Book; font-size: 10px;
    color: #7D7D7D; 
    letter-spacing: 0.2px; 
    line-height: 12px;
}

.imageCenter{
    padding: 20px;
}

.tabPadding{
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 20px;
    padding-right: 20px;
}

.tabBorder{
    border-width: 2px;
    border-color: green;
}
/*
.buttons{
    background: #00975A;
    width:400px;
    border-radius: 6px;
    margin-bottom: 0;
    height: 56px;
    font-family: Futura-Bold; 
    font-size: 13px;
    color: #FFFFFF; letter-spacing: 2px; line-height: 25px;
}
*/

.segmentedButton-bar {
    padding: 0;
}

.segmentedButton-bar > .button:first-child {
    border-radius: 6px 0px 0px 6px; 
}
.segmentedButton-bar > .button:last-child {
    border-right-width: 1px;
    border-radius: 0px 6px 6px 0px;
}

.segmentedButton {
    background: white;
    min-height: 10px;
    color: #888888;
    border-color: #00975A;
    font-family: Futura-Book;
    font-size: 11px;
    letter-spacing: 2px;
}

.segmentedButton.active{
    min-height: 45px !important;
    background: #00975A;
    border-color: #00975A !important;
    font-family: Futura-Book;
    color: #FFFFFF;
}

/* For the symbol on All Events v */
.arrow-font{
    font-size: 12px;
    vertical-align: middle;
}


.buttons-nobg{
    font-family: Futura-Bold; 
    font-size: 13px;
    letter-spacing: 2px;
    line-height: 25px;
}

.nearbyTab {
    border-color: #00975A;
    background-color: #00975A;
    color: #fff; 
}

.allEventsSpacing {
    top: 120px;
}

.myEventsSpacing {
    top: 60px;
}
.textBlue{
    color: #0066CC;
}

.btnBorder{
    border-radius: 5px;
}

.bottomleft {
    position: absolute;
    bottom: 0;
    top:100px;
    left: 0em;
    width:500px;
    font-weight: bold;
    color: #fff;
    font-size: 20px;
}
.topright {
    position: absolute; 
    top: 1em;
    left:  2em;
    width: 120px;
    padding: 4px;
    background-color: #fff;
    font-weight: bold;
    font-size: 11px;
}
.out{
    position: relative;
    width: auto;
}

img.listThumbnail {
    border-radius: 0% !important;
}

img.smallIcon {
    max-height: 20px;
}

.movieFont{
    color: #4A6FB5;
}

.movieBg{
    background: #4A6FB5;
}

.musicFont{
    color: #40BCAA;
}

.musicBg{
    background: #40BCAA;
}

.theaterFont{
    color: #EE3A50;
}

.theaterBg{
    background: #EE3A50;
}

.danceFont{
    color: #693191;
}

.danceBg{
    background: #693191;
}

.familyFont{
    color: #E7A223;
}

.familyBg{
    background: #E7A223;
}

.festivalFont{
    color: #F05722;
}

.festivalBg{
    background: #F05722;
}

.announcementBg{
    background-color: #FFFF66!important;
}

.featuredMovieFonts{
    color:white !important;
}
.popupbuttonBg{
    color:white;
}
.popupFonts{
    color: white;
}
.popupborder{
    border-style: transparent;
}