<ion-view view-title="{{event.name}}">
  <ion-content class="padding">
    <div class="item item-image topImage outer">
    <img src="img/bg_{{event.category}}.png">
    <button class="button icon-left ion-chevron-left button-clear button-light topright" ng-click="goBack()">
    BACK
    </button>
      
      <div class="bottomleft">
          {{event.category}}<br><br>
          {{event.name}}
    </div>
      <div class="item item-body text-left">
          <h2><b>{{event.rating}}</b></h2>
          <hr>
          <h2 ng-class="{'movieFont':event.category=='Movies','musicFont':event.category=='Music','festivalFont':event.category=='Festival','theaterFont':event.category=='Theater','danceFont':event.category=='Dancing','familyFont':event.category=='Family Fun'}">
              {{event.description}}
          </h2>
          <hr>
          <h2><b>PERFORMED BY:</b></h2>
          <h2>The Performer's Company</h2>
          <video ng-show="event.category=='Movies'" width="100%" height="240" controls>
            <source src="http://www.youtube.com" type="video/mp4">
          </video>
          <h1><b>SHOWTIMES</b></h1>
      </div>
      <div class="item item-body text-left">
        <h2><b style="text-align:left">TUESDAY, 24</b>
            <p style="text-align:right">{{showtime}}</p></h2>
        <hr>
        <h2 ng-class="{'movieFont':event.category=='Movies','musicFont':event.category=='Music','festivalFont':event.category=='Festival','theaterFont':event.category=='Theater','danceFont':event.category=='Dancing','familyFont':event.category=='Family Fun'}"  href="#"><b>{{park.name}}</b></h2>
          <h2>{{park.address}}</h2>
          <br>
          <h2>Under nklasnd dasjdkl ndas hdioasj</h2>
          <a ng-show ="event.isFavorite=='false'" ng-click="openMyEventsModal(event)" class="button button-full btnBorder" ng-class="{'movieBg':event.category=='Movies','musicBg':event.category=='Music','festivalBg':event.category=='Festival','theaterBg':event.category=='Theater','danceBg':event.category=='Dancing','familyBg':event.category=='Family Fun'}">SAVE To MY EVENTS</a>
          <h2 ng-class="{'movieFont':event.category=='Movies','musicFont':event.category=='Music','festivalFont':event.category=='Festival','theaterFont':event.category=='Theater','danceFont':event.category=='Dancing','familyFont':event.category=='Family Fun'}"><b>SHARE THIS EVENT</b></h2>
      </div>
      <div class="item item-body text-left">
          <h1>
              <b class="textBlue">VIEW 4 MORE SHOWTIMES</b>
          </h1>
      </div>
      <div class="item item-image topImage">
          <img src="img/home_footer.png">
      </div>
    
  </ion-content>
</ion-view>