<ion-modal-view>
<div class="ngdialog-buttons ">
  <div class="close-button-text">CLOSE green</div>
  <div class="dialog-main-content">
    <!-- header -->
    <h1 class="dialog-header h1-font-futura"> THE GOONIES IS SAVED TO MY EVENTS  </h1>
    <hr class="dialog-hr">

    <h2 class="h1-font-futura">SHOWTIME</h2>

    <h3 class="h3-font-futura">Tuesday, Jun, 24 </h3>
    <h3 class="h3-font-futura">9:00 - 10:55 pm </h3>


    <h3  class="h3-font-futura">Aster Playlot Park,</h3>
    <h3  class="h3-font-futura">1800 Western Ave</h3>

    <div class="row">
      <div class="col-md-10 offset-md-2">
      <h2 class="h2-font-futura space-h2">GET DIRECTIONS  <i class="fa fa-external-link share-icon"></i> </h2>
    </div>
    </div>

    </div>


    <button type="button" class="dialog-button ngdialog-button ngdialog-button-primary" ng-click="confirm(1)">EXPORT TO CALENDAR <i class="fa fa-external-link share-icon"></i>
        </button>

</div>
</ion-modal-view>
