<ion-modal-view>
	  <ion-header-bar>
    	<button class="button button-icon icon ion-android-close buttons-nobg" ng-click="closeMyEventsModal()">CLOSE</button>
	  </ion-header-bar>
	<ion-content class="padding myEventsSpacing">
 		<div class="item item-body text-left">
    		<div class="item item-divider">
            
	        </div>
        	<h1><b>THE EVENT IS SAVED TO MYEVENTS</b></h1>
    		<div class="item item-divider">
            
	        </div>
            
            <b>SHOWTIME</b>
    	    <h2>{{event.showtime}}</h2>
          	<h2>{{park.address}}</h2>
            <a><b>GET DIRECTIONS</b></a>
          	<a class="button button-full btnBorder" ng-class="{'movieBg':event.category=='Movies','musicBg':event.category=='Music','festivalBg':event.category=='Festival','theaterBg':event.category=='Theater','danceBg':event.category=='Dancing','familyBg':event.category=='Family Fun'}">EXPORT TO CALENDAR</a>
		</div>
    </ion-content>
</ion-modal-view>