<ion-view view-title="My Events">
  <div class="row">
    <div class="col col-80 header-title" ng-click="openFilterModal()">ALL My Events <i class='ion-chevron-down'></i></div>
      <div class="col col-10">
        <a class="tab-item" ng-click="data.showDelete=!data.showDelete">
          <h1>Edit</h1> 
        </a>
      </div>
  </div>
  <hr>
  
  <ion-content class="padding allEventsSpacing">
    <ion-list show-delete="data.showDelete">
    <div data-ng-repeat="(date, events) in events" class="alpha_list">
      <ion-item class="item item-divider" id="index_{{date}}">
        {{date}}
      </ion-item>
      <a ng-repeat="event in events | filter:filters" a href="#/tab/event-all/{{event.id}}" class="item item-avatar-left item-remove-animate">         
        <img class="listThumbnail" src="img/icon_{{event.category}}.png">
        <h2>{{event.name}}</h2>
          <p>{{event.parkName + "," + event.showtime}}</p>
        <ion-delete-button class="ion-minus-circled" ng-click="onEventDelete(event)"></ion-delete-button>
      </a>
    </div>
    </ion-list>
  </ion-content>
</ion-view>


