<ion-view view-title="All Events">

  <div class="row">
    <div class="col col-80 header-title" ng-click="openFilterModal()" ng-class="filterStyleFont">
    <img ng-if="currentFilter != ''" ng-src="img/icon_{{currentFilter}}.png" class="smallIcon">
      {{currentFilter==""?"ALL EVENTS":currentFilter.toUpperCase()}}<i class='ion-chevron-down arrow-font'></i>
    </div>
    <div class="col col-10">
      <a class="tab-item tiny-labels" ng-class="filterStyleFont">
        <i class="icon ion-navicon-round" ></i>LIST
      </a>
    </div>
    <div class="col col-10">
      <a class="tab-item tiny-labels" ng-class="filterStyleFont">
        <i class="icon ion-android-pin"></i>MAP
      </a>
    </div>
  </div>

  <!-- Only show this if viewing by list -->
  <div class="button-bar padding segmentedButton-bar">
    <div class="button segmentedButton" ng-click="groupEventsByDate()" ng-class="{active: grouping == 'Date'}" >View by Date</div>
    <div class="button segmentedButton" ng-click="groupEventsAlphabetically()" ng-class="{active: grouping == 'Alphabetical'}">View A-Z</div>
  </div>
  <hr>
  <ion-content class="padding allEventsSpacing">
    <div data-ng-repeat="(group, events) in groupedEvents" class="alpha_list">

      <ion-item class="item item-divider" id="index_{{group}}">
        <h1>{{group.toUpperCase()}}</h1>
      </ion-item>

      <event-row ng-repeat="event in events | filter:{category:currentFilter}" event="event" tabName="'event-all'"/>

    </div>
  </ion-content>

  <ul class="alpha_sidebar">
    <li ng-click="gotoList('index_{{month.date}}')"ng-repeat="month in months" -webkit-transform: translate(-50%, -50%);>{{month.name}}</li>
  </ul>
</ion-view>
